

<div class="entire">
<nav class="navbar ">
    <ul class="navbar-nav" style="margin-left:120px; margin-top: 60px;">
        <button class="nav-item" style="background-color:green; text-align: center; width: 480px;height:60px">
            <a routerLink="addpizza" routerLinkActive="active" class="nav-link" style="color:antiquewhite">Add Pizza</a>
        </button>

        <button class="nav-item" style="background-color:rgb(102, 102, 157); margin-top: 30px;height:60px">
            <a routerLink="filterpizza" routerLinkActive="active" class="nav-link" style="color:antiquewhite">Pizza Filter</a>
        </button>
        <button class="nav-item" style="background-color:rgb(3, 3, 117); margin-top: 30px;height:60px">
            <a routerLink="viewpizzalist" routerLinkActive="active" class="nav-link" style="color:antiquewhite">View All Pizza </a>
        </button>
        <button class="nav-item" style="background-color:rgb(111, 169, 63); margin-top: 30px;height:60px">
            <a routerLink="viewpizzatype" routerLinkActive="active" class="nav-link" style="color:antiquewhite">Search Pizza By Type </a>
        </button>
    </ul>
</nav>
</div>
