
<div class="entire">
<nav class="navbar ">
    <div class="navbar-nav" style="margin-left:120px; margin-top: 60px;">
        <button class="nav-item" style="background-color:rgb(161, 212, 161); text-align: center; width: 480px;height:60px;">
            <a routerLink="managecustomer" routerLinkActive="active" class="nav-link" >Customer Manage</a>
        </button>

        <button class="nav-item" style="background-color:rgb(182, 207, 161); margin-top: 30px;height:60px;">
            <a routerLink="managepizza" routerLinkActive="active" class="nav-link" >Pizza </a>
        </button>
        <button class="nav-item" style="background-color:rgb(194, 161, 111); margin-top: 30px;height:60px;">
            <a routerLink="managecoupon" routerLinkActive="active" class="nav-link" >Coupon </a>
        </button>
        <button class="nav-item" style="background-color:rgb(104, 158, 178); margin-top: 30px;height:60px;">
            <a routerLink="manageorder" routerLinkActive="active" class="nav-link" >Orders </a>
        </button>
    </div>
</nav>

</div>


