
.entire{
	 position: fixed;
     width: 100%;
     height:100%;
	 background-image:url('../../assets/img/vv.jpg');
     background-image:image-set();
     background-size: cover;
	
	 
	 
} 


.nav-link{
    color:whitesmoke;
    text-shadow: 0mm;
	 margin-left: 25%; 
    font-size: large;
}
.nav-item{
    font-family: 'Oswald', sans-serif; 
   
    font-weight: bolder;
}
a{
    color:rgb(151, 7, 115); 
    margin-right: 120px;
    font-size: large;
    
 }


 