<nav class="navbar navbar-expand-sm  " style="background-color:rgb(204, 58, 58);height: 50px;">
  
</nav>

<section>

    <div class="imgBx">
        <img src="assets/img/plogo.jpg">
    </div>
<div class="contentBx">
<div class="formBx">

    <ul class="navbar-nav">
        <div class="inputBx">
        <button class="nav-item1" >
            <a routerLink="customerlogin" routerLinkActive="active" class="nav-link">Customer Login</a>
        </button>
        </div>
        <div class="inputBx">
        <button class="nav-item1">
            <a routerLink="adminlogin" routerLinkActive="active" class="nav-link">Admin login </a>
        </button>
        </div>
    </ul>
</div>
</div>
</section>
<footer class="footer">
    <div class="container">
        <span>Online Pizza Booking Application @2022 </span>
    </div>
</footer> 