<div class="entire">
    <nav class="navbar ">
        <div class="navbar-nav" style="margin-left:120px; margin-top: 60px;">
            <button class="nav-item" style="background-color:rgb(161, 212, 161); text-align: center; width: 480px;height:60px;">
                <a routerLink="updatecustomer" routerLinkActive="active" class="nav-link" >Update</a>
            </button>
    
            <!-- <button class="nav-item" style="background-color:rgb(182, 207, 161); margin-top: 30px;height:60px;">
                <a routerLink="resetpassword" routerLinkActive="active" class="nav-link" >Reset Password </a>
            </button> -->
        </div>
    </nav>
    
    </div>