.footer{
    position: absolute;
    bottom: 0;
    width:100%;
    height: 30px;
    background-color: brown;
    text-align: center;
    color: bisque;
}
section{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	
	background-size: flex;
}
section .contentBx{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	background-image: url('qq.jpg');

}

section .imgBx{
	position: relative;
	width: 50%;
	height: 100%;
}
section .imgBx:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background: linear-gradient(225deg,#e91e63,#03a9f4);*/
	z-index: 1;
	mix-blend-mode: screen;
}
section .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section .formBx{
	width: 50%;
	
	background-color: maroon;
	border-radius: 5%;
	
}
section .contentBx .formBx h2{
	color: #ffff00;
	font-weight: bolder;
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-left: 20px;
	border-bottom: 4px solid #ff4584;
	
	display: inline-block;
	letter-spacing: 1px;
	
	padding-top: 10px;

}
section .contentBx .formBx .inputBx{
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;

}
section .contentBx .formBx .inputBx label{
	font-size: 16px;
	margin-bottom: 5px;
	display: inline-block;
	color: white;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 1px;
	
}
.contentBx .formBx .inputBx input{
	width: 100%;
	padding: 10px 20px;
	outline: none;
	font-weight: 400;
	border: 1px solid #ccc;
	border-bottom-width: 4px;
	font-size: 16px;
	letter-spacing: 1px;
	border-radius: 10px;
	transition: all 0.3s ease;
}
.contentBx .formBx .inputBx input:focus{
	border-color: #00BFFF;
}
section .contentBx .formBx .inputBx button{
	background: blue;
	color: #fff;
	outline: none;
	border: none;
	text-align: center;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	font-weight: bolder;
	cursor: pointer;
}
section .contentBx .formBx .inputBx button:hover{
	background: darkblue;
}
section .contentBx .formBx .Admin{
	margin-bottom: 10px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;

}
section .contentBx .formBx .inputBx p{
	color: white;
}

section .contentBx .formBx .inputBx p a{
	color: rgb(0, 123, 255);
	font-weight: bolder;
}