h1{
    text-align:center;
    font-weight: bolder;
    font-size: 30px;
    color: rgb(229, 17, 17);
    font-family: 'Oswald', sans-serif;
    text-shadow: 3px 1px #c2bbbb;
}
input{
    border-radius: 5px;
     background: goldenrod;
     color: black;
     font-family: 'PT Sans Narrow', sans-serif;
}
label{
    font-weight: bolder;
    font-size: 20px;
    color: rgb(229, 17, 17);
    font-family: 'Oswald', sans-serif;
    text-shadow: 3px 1px #c2bbbb;

}
