.footer{
    position: absolute;
    bottom: 0;
    width:100%;
    height: 30px;
    background-color: brown;
    text-align: center;
    color: bisque;
}

.nav-item{

    background-color:burlywood;
    
    margin-left: 30px;
    width: 150px;
    text-align: center;
    font-display: center;
    font-family: 'Oswald', sans-serif;
     text-shadow: 3px 1px #c2bbbb;
     font-weight: bolder;
}
.nav-link{
    color: rgb(167, 26, 122);
    font-size: large;
    font-stretch: expanded;
}