<!-- <nav class="navbar navbar-expand-sm  " style="background-color:rgb(204, 58, 58)">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="customer-register" routerLinkActive="active" class="nav-link">Register</a>
        </li>

        <li class="nav-item">
            <a routerLink="login" routerLinkActive="active" class="nav-link">login </a>
        </li>
    </ul>
</nav> -->

<!-- <nav class="navbar navbar-expand-sm  " style="background-color:rgb(204, 58, 58);height: 60px;">Pizza House</nav>
<h1 class="text-center " bg-color="lime">  </h1>
<div class="container"> -->
    <router-outlet></router-outlet>
<!-- </div> -->
<!-- 
<footer class="footer">
    <div class="container">
        <span>Online Pizza Booking Application @2022 </span>
    </div>
</footer> 
  -->